.root {
    -fx-font-family: "Segoe UI";
}

/* MENU */
.menu-bar {
    -fx-background-color: #8B4513;
}

.menu-bar .label {
    -fx-text-fill: black;
}

/* LEFT PANEL */
.left-panel {
    -fx-background-color: #B07A33;
}

/* RIGHT PANEL */
.right-panel {
    -fx-background-color: #7CFC00;
}

/* FOOTER */
.footer {
    -fx-background-color: #BDBDBD;
}

/* TABLE */
.table-view {
    -fx-background-color: #E6E6E6;
}

.table-view .column-header-background {
    -fx-background-color: #9E9E9E;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:selected {
    -fx-background-color: #8B4513;
}

/* BUTTONS */
.button {
    -fx-background-color: #B07A33;
    -fx-text-fill: black;
    -fx-background-radius: 15;
    -fx-pref-height: 40;
}